.mainPageContainer {
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    flex-direction: column;
    margin-bottom: 10rem;
  }

.sceneContainer{
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    // background-color: black;
  }

.sizeRadio{
  display: flex;
  // justify-content: center; /* Horizontally center */
  flex-direction: column;
  align-items: flex-start;
}

.mapContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.settings{
  margin-left: 2rem;
}